.tres-servicios button{
    background-color: $color3;
    color:  $color2;
    font-weight: 650;
    padding: .3125rem;
    border: 0cap;
    border-radius: 5px;
    width: 170px;
}

.newsletter button{
    background-color: $color2;
    color: $color1;
    font-weight: 650;
    padding: .3125rem;
    border: 0cap;
    border-radius: 5px;
    width: 170px;
    grid-area: boton-guia;
    align-content: center;
}

.banner-palabras button{
    background-color: $color2;
    color: $color1;
    width: 170px;
    margin-left: 40%;
    grid-area: boton;
    border-radius: 5px;
}

.bannerBlog button{
    background-color: $color2;
    color: $color1;
    border: 0cap;
    width: 170px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.seis-cursos button{
    background-color: $color3;
    color: $color2;
    font-weight: 650;
    padding: .3125rem;
    border: 0cap;
    border-radius: 5px;
}

.btn{
    background-color: $color1;
    color: $color2;
    border: 0cap;
    border-radius: 5px;
}

.btn-servicio{
    border: 0cap;
    background-color: $color2;
    text-decoration: none;
    text-decoration-line: none;
}

.card-container button{
    display: block;
    width: 100%;
    padding: .3125rem;
    background-color: $color2;
    font-family: "Playfair Display", serif;
    font-weight: 650;
    font-size: 16px;
    color: $color3;
    border: none;
    border-radius: 5px;
}