.tres-servicios button{
    background-color: map-get($map: $colores, $key: color1);
    color:  map-get($map: $colores, $key: color2);
    font-weight: 650;
    padding: .3125rem;
    border: 0cap;
    border-radius: 5px;
    width: 170px;
}

.bannerCopy button{
    background-color: map-get($map: $colores, $key: color3);
    color: map-get($map: $colores, $key: color2);
    font-weight: 650;
    padding: .3125rem;
    border: 0cap;
    border-radius: 5px;
}
.newsletter button{
    background-color: map-get($map: $colores, $key: color2);
    color: map-get($map: $colores, $key: color1);
    font-weight: 650;
    padding: .3125rem;
    border: 0cap;
    border-radius: 5px;
    width: 170px;
    grid-area: boton-guia;
    align-content: center;
}

.banner-palabras button{
    background-color: map-get($map: $colores, $key: color2);
    color: map-get($map: $colores, $key: color1);
    width: 170px;
    margin-left: 40%;
    grid-area: boton;
    border-radius: 5px;
}

.bannerBlog button{
    background-color: map-get($map: $colores, $key: color2);
    color: map-get($map: $colores, $key: color1 );
    border: 0cap;
    width: 170px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.seis-cursos button{
    background-color: map-get($map: $colores, $key: color3);
    color: map-get($map: $colores, $key: color2);
    font-weight: 650;
    padding: .3125rem;
    border: 0cap;
    border-radius: 5px;
}

.btn{
    background-color: map-get($map: $colores, $key: color1);
    color: map-get($map: $colores, $key: color2);
    border: 0cap;
    border-radius: 5px;
}

.btn-servicio{
    border: 0cap;
    background-color: map-get($map: $colores, $key: color2);
    text-decoration: none;
    text-decoration-line: none;
    border-radius: 5px;
}

.card-container button{
    display: block;
    width: 100%;
    padding: .3125rem;
    background-color: map-get($map: $colores, $key: color2);
    font-family: "Playfair Display", serif;
    font-weight: 650;
    font-size: 16px;
    color: map-get($map: $colores, $key: color3);
    border: none;
    border-radius: 5px;
}