header {
    display: flex;
    height: $altura-header;
    justify-content: center;
    
    .navbar {
        background-color: map-get($map: $colores, $key: color2);
        .navbar-brand {
        font-size: 1.5rem;
        align-items: center;
        }
        .navbar-nav {
        .nav-item {
            .nav-link {
            color: #000000;
            background-color: map-get($map: $colores, $key: color2);
            &:hover {
            color: #555; // Color del texto del enlace al pasar el ratón
            }
            }
        }
        }
    }
}
