@mixin flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin btn-primary {
    background-color: $primary-color;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    
    &:hover {
    background-color: $secondary-color;
    }
}

@mixin form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}